/* Phần title */
#title {
  margin: 0 2%;
  margin-top: 50px;
}
#title .active {
  color: #fab320;
}
#title a {
  color: white;
  text-decoration: none;
}

/* Phần chi tiết sản phẩm */
#product-detail {
  margin: 0 7%;
  /* display: grid;
  grid-template-columns: 1.5fr 1fr; */
  display: flex;
  justify-content: space-around;
  gap: 100px;
  text-align: center;
}

/* Phần album */
#product-detail .slide-album {
  width: 60%;
  text-align: center;
}

#product-detail .thumbnail img {
  width: 100%;
  cursor: pointer;
}

#product-detail .thumbnail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.slide-items {
  width: 100%;
  display: none;
  animation: fadeEffect 1s;
}

.active-album {
  opacity: 50%;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Phần chi tiết sản phẩm */
#product-detail .product-detail {
  width: 60%;
  color: white;
  margin-right: 100px;
  text-align: left;
}

#product-detail h1 {
  font-size: 40px;
  font-family: "Merriweather";
  font-weight: 900;
}

#product-detail h2 {
  font-size: 30px;
  font-family: "Darker Grotesque";
  font-weight: 500;
}

#product-detail .size-title {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 25px;
}
#product-detail .size-group {
  text-align: left;
  width: 100%;
}

#product-detail .size-group .btn {
  font-family: "Darker Grotesque";
  font-weight: 500;
  font-size: 20px;
}

#product-detail .size-group .size-items-effect {
  --bs-btn-color: white;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fab320;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: none;
  --bs-gradient: none;
}
/* Phần input số lượng */
.quantity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  transition: background-color 0.2s;
}

.input-box {
  width: 100%;
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  background-color: black;
  color: white;
}

.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#product-detail .cart-add {
  width: 100%;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-family: "Jura";
  font-weight: bold;
}

#product-detail .cart-add:hover {
  background-color: white;
  color: black;
}

#product-detail .buy-now {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 2px solid #fab320;
  background-color: black;
  color: #fab320;
  font-family: "Jura";
  font-weight: bold;
}

#product-detail .buy-now:hover {
  background-color: #fab320;
  color: black;
}

#product-detail .info {
  margin-top: 50px;
  font-family: "Darker Grotesque";
  font-weight: 500;
  font-size: 20px;
}

/* Phần mô tả */
#mo-ta {
  margin: 0 7%;
  color: white;
  margin-top: 50px;
  font-family: "Darker Grotesque";
}

#mo-ta h3 {
  margin-left: 20px;
  border-bottom: 2px solid white;
  width: 70px;
  font-size: 30px;
  font-weight: 900;
}

#mo-ta p {
  font-size: 20px;
  font-weight: 500;
}

/* Phần đánh giá */
#danh-gia {
  margin: 0 7%;
  color: white;
  margin-top: 50px;
  font-family: "Darker Grotesque";
}

#danh-gia h3 {
  margin-left: 20px;
  border-bottom: 2px solid white;
  width: 110px;
  font-size: 30px;
  font-weight: 900;
}

#danh-gia h4 {
  font-family: "Jura";
  font-size: 20px;
}

#danh-gia .khach-hang .avatar {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#danh-gia .khach-hang .avatar img {
  width: 120px;
  border-radius: 100%;
}

#danh-gia .khach-hang h5 {
  font-family: "Jura";
  font-size: 20px;
}

#danh-gia .khach-hang p {
  font-size: 20px;
  margin-top: 10px;
}

#danh-gia .khach-hang .file {
    display: flex;
    gap: 20px;
}

#danh-gia .khach-hang .file img {
    width: 200px;
    height: 200px;
}

#page {
  margin-top: 50px;
}

#page .page-link {
  background-color: black;
  color: white;
}

#page .active-check {
  background-color: #fab320;
  color: black;
}

#body hr {
    width: 100%;               
    background-color:white;
    height: 3px;
    margin-top: 30px;
  }
/* Phần gợi ý */
#recommend {
  margin: 0 2%;
  color: white;
  margin-top: 100px;
}

#recommend a {
  text-decoration: none;
  color: white;
}

#recommend .recommend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  color: white;
}

#recommend h1 {
  font-size: 30px;
  font-family: "Jura";
  font-weight: bold;
  margin-bottom: 20px;
}

#recommend .recommend-items {
  height: auto;
  margin-top: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

#recommend img {
  width: 100%;
  margin-bottom: 10px;
}

#recommend h2 {
  font-size: 16px;
  font-family: "Merriweather";
  font-weight: 900;
}

#recommend p {
  font-size: 16px;
  font-family: "Darker Grotesque";
  font-weight: 500;
}

#recommend button {
  width: 100%;
  height: 10%;
  color: #fab320;
  background-color: black;
  border: 2px solid #fab320;
  font-family: "Jura";
  font-weight: bold;
  font-size: 16px;
}

#recommend button:hover {
  background-color: #fab320;
  color: black;
}

#recommend .recommend-items:hover {
  transform: scale(1.05);
}

/* Phần reponsive */
/* @media (min-width: 600px) {

}

@media (min-width: 600px) {
  #product-detail {
    flex-direction: column;
  }
  #product-detail .slide-album,
  #product-detail .product-detail {
    width: 100%;
  }
} */

@media (max-width: 1024px) {
  #product-detail {
    flex-direction: column;
  }
  #product-detail .slide-album,
  #product-detail .product-detail {
    width: 100%;
  }
} 

/* @media (min-width: 1024px) {

} */

