
.container1{
    display: grid;
    grid-template-columns: 3fr 2fr;
    color: white;
    margin: 0 2%;
    padding: 4rem 0 0rem;
}
.container1 .thanhtoan{
    border-top: 1px solid white;
    border-right: 1px solid white;
    width: 100%;
    padding-right: 100px;
}
.container1 .thanhtoan input{
    background-color: black;
    border: 1px solid white;
    width: 100%;
    height: 62px;
    font-size: 25px;
    padding-left: 10px;
}
.container1 .thanhtoan label{
    font-size: 30px;
    font-family: 'Jura';
}
.container1 .thanhtoan .lienhe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 5rem;
}
.container1 .thanhtoan .giaohang{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0 5rem;
}
.container1 .thanhtoan .giaohang select{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 62px;
    font-size: 25px;
    padding-left: 10px;
}
.container1 .thanhtoan .giaohang .hoten{
    display: flex;
    gap: 1.5rem;
    width: 100%;
}
.container1 .thanhtoan .giaohang .hoten input{
    width: 100% ;
}
.container1 .thanhtoan .vanchuyen{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0 5rem;
}
.container1 .thanhtoan .vanchuyen select{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 62px;
    font-size: 25px;
    padding-left: 10px;
}
.container1 .thanhtoan .phuongthuc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0 5rem;
}
.container1 .thanhtoan .phuongthuc button{
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 62px;
    font-size: 25px;
    padding-left: 10px;
}
.container1 .thanhtoan .phuongthuc button:focus{
    background-color: #FAB320;
    color: black;
    border: 1px solid black;
}
.container1 .thanhtoan button{
    background-color: black;
    border: 1px solid #FAB320;
    color: #FAB320;
    width: 100%;
    height: 62px;
    font-size: 25px;
    font-family: 'Jura';
}
.container1 .thanhtoan button:hover{
    background-color: #FAB320;
    color: black;
}
.container1 .sanpham{

    border-top: 1px solid white;
    padding-left: 4%;
}
.container1 .sanpham .box1{
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    font-size: 20px;
    font-family: 'Jura';
}
.container1 .sanpham .box1 img{
    width: 94px;
    height: 94px;
}
.container1 .sanpham .box1 .gop{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.container1 .sanpham .khuyenmai{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}
.container1 .sanpham .khuyenmai input{
    width: 100%;
    height: 65px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.container1 .sanpham .khuyenmai button{
    width: 100%;
    height: 65x;
    background-color: black;
    border: 1px solid #FAB320;
    color: #FAB320;
    font-size: 20px;
    font-family: 'Jura';
}
.container1 .sanpham .khuyenmai button:hover{
    background-color: #FAB320;
    color: black;
}
.container1 .sanpham .chitiet{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    /* text-indent: 1rem; */
}
.container1 .sanpham .chitiet .tieude{
    font-size: 16px;
    font-family: 'Jura';
}
.container1 .sanpham .chitiet .so{
    font-size: 16px;
    font-family: 'Jura';
    text-align: right;
}
.container1 .sanpham .chitiet .dam{
    font-weight: bold;
}

@media(max-width: 1025px){
    .container1 .thanhtoan input{
        max-width: 500px;
        height: 60px;
        font-size: 22px;
    }
    .container1 .thanhtoan label{
        font-size: 28px;
    }
    .container1 .thanhtoan .lienhe{
        padding: 2rem 0 4rem;
    }
    .container1 .thanhtoan .giaohang{
        padding: 0rem 0 4rem;
    }
    .container1 .thanhtoan .giaohang select{
        max-width: 516px;
        height: 60px;
        font-size: 22px;
    }
    .container1 .thanhtoan .giaohang .hoten{
        gap: 1rem;
    }
    .container1 .thanhtoan .giaohang .hoten input{
        width: 236px;
    }
    .container1 .thanhtoan .vanchuyen{
        padding: 0rem 0 4rem;
    }
    .container1 .thanhtoan .vanchuyen select{
        max-width: 516px;
        height: 60px;
        font-size: 22px;
    }
    .container1 .thanhtoan .phuongthuc{
        padding: 0rem 0 4rem;
    }
    .container1 .thanhtoan .phuongthuc button{
        width: 516px;
        height: 60px;
        font-size: 22px;
    }
    .container1 .thanhtoan button{
        max-width: 516px;
        height: 60px;
        font-size: 22px;
    }
    .container1 .sanpham .box1{
        padding: 0rem 0 1rem;
        padding-left: 1rem;
        font-size: 16px;
    }
    .container1 .sanpham .box1 img{
        width: 94px;
        height: 94px;
    }
    .container1 .sanpham .khuyenmai{
        gap: 1rem;
        padding: 0rem 0 2rem;
        padding-left: 1rem;
    }
    .container1 .sanpham .khuyenmai input{
        width: 200px;
        height: 58px;
        font-size: 16px;
        padding-left: 10px;
    }
    .container1 .sanpham .khuyenmai button{
        width: 200px;
        height: 62.93px;
        font-size: 16px;
    }
}
@media(max-width: 768px){
    .container1 .thanhtoan input{
        max-width: 350px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan label{
        font-size: 22px;
    }
    .container1 .thanhtoan .lienhe{
        padding: 2rem 0 3em;
    }
    .container1 .thanhtoan .giaohang{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .giaohang select{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .giaohang .hoten{
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 364px;
    }
    .container1 .thanhtoan .giaohang .hoten input{
        width: 350px;
    }
    .container1 .thanhtoan .vanchuyen{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .vanchuyen select{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .phuongthuc{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .phuongthuc button{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan button{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .sanpham .box1{
        padding: 1rem 0 0rem;
        padding-left: 1rem;
        font-size: 12px;
    }
    .container1 .sanpham .box1 .an{
        display: none;
    }
    .container1 .sanpham .box1 .hien::before{
        content: '845.000';
    }
    .container1 .sanpham .box1 img{
        width: 90px;
        height: 90px;
    }
    .container1 .sanpham .khuyenmai{
        gap: 0.5rem;
        padding: 1rem 0 2rem;
        padding-left: 1rem;
    }
    .container1 .sanpham .khuyenmai input{
        width: 130px;
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }
    .container1 .sanpham .khuyenmai button{
        width: 150px;
        height: 44px;
        font-size: 12px;
    }
    .container1 .sanpham .chitiet .tieude{
        font-size: 14px;
    }
    .container1 .sanpham .chitiet .so{
        font-size: 14px;
    }
}
@media(max-width: 426px){
    body{
        margin: 30px;
    }
    .container1{
        flex-wrap: wrap-reverse;
    }
    .container1 .thanhtoan{
        width: 100%;
        border: none;
    }
    .container1 .thanhtoan input{
        max-width: 350px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan label{
        font-size: 22px;
    }
    .container1 .thanhtoan .lienhe{
        padding: 2rem 0 3em;
    }
    .container1 .thanhtoan .giaohang{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .giaohang select{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .giaohang .hoten{
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 364px;
    }
    .container1 .thanhtoan .giaohang .hoten input{
        width: 350px;
    }
    .container1 .thanhtoan .vanchuyen{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .vanchuyen select{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .phuongthuc{
        padding: 0rem 0 3rem;
    }
    .container1 .thanhtoan .phuongthuc button{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan button{
        max-width: 364px;
        height: 40px;
        font-size: 16px;
    }
    .container1 .sanpham{
        padding: 2rem 0 0rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
    }
    .container1 .sanpham .box1{
        padding: 1rem 0 0rem;
        /* padding-left: 1rem; */
        font-size: 12px;
    }
    .container1 .sanpham .box1 .an{
        display: none;
    }
    .container1 .sanpham .box1 .hien::before{
        content: '845.000';
    }
    .container1 .sanpham .box1 img{
        width: 90px;
        height: 90px;
    }
    .container1 .sanpham .khuyenmai{
        gap: 0.5rem;
        padding: 1rem 0 2rem;
    }
    .container1 .sanpham .khuyenmai input{
        width: 200px;
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }
    .container1 .sanpham .khuyenmai button{
        width: 150px;
        height: 44px;
        font-size: 12px;
    }
    .container1 .sanpham .chitiet{
        padding-left: 0px;
    }
    .container1 .sanpham .chitiet .tieude{
        font-size: 14px;
    }
    .container1 .sanpham .chitiet .so{
        font-size: 14px;
    }
}

@media(max-width: 376px){
    .container1 .thanhtoan input{
        max-width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan label{
        font-size: 20px;
    }
    .container1 .thanhtoan .lienhe{
        padding: 2rem 0 2em;
    }
    .container1 .thanhtoan .giaohang{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .giaohang select{
        max-width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .giaohang .hoten{
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100%;
    }
    .container1 .thanhtoan .giaohang .hoten input{
        width: 301px;
    }
    .container1 .thanhtoan .vanchuyen{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .vanchuyen select{
        max-width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan .phuongthuc{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .phuongthuc button{
        max-width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .container1 .thanhtoan button{
        max-width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .container1 .sanpham{
        padding: 2rem 0 0rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
    }
    .container1 .sanpham .box1{
        padding: 1rem 0 0rem;
        /* padding-left: 1rem; */
        font-size: 12px;
    }
    .container1 .sanpham .box1 .an{
        display: none;
    }
    .container1 .sanpham .box1 .hien::before{
        content: '845.000';
    }
    .container1 .sanpham .box1 img{
        width: 90px;
        height: 90px;
    }
    .container1 .sanpham .khuyenmai{
        gap: 0.5rem;
        padding: 1rem 0 2rem;
    }
    .container1 .sanpham .khuyenmai input{
        width: 200px;
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }
    .container1 .sanpham .khuyenmai button{
        width: 150px;
        height: 44px;
        font-size: 12px;
    }
    .container1 .sanpham .chitiet{
        padding-left: 0px;
    }
    .container1 .sanpham .chitiet .tieude{
        font-size: 14px;
    }
    .container1 .sanpham .chitiet .so{
        font-size: 14px;
    }
}

@media(max-width: 320px){
    .container1 .thanhtoan input{
        max-width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .container1 .thanhtoan label{
        font-size: 18px;
    }
    .container1 .thanhtoan .lienhe{
        padding: 2rem 0 2em;
    }
    .container1 .thanhtoan .giaohang{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .giaohang select{
        max-width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .container1 .thanhtoan .giaohang .hoten{
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100%;
    }
    .container1 .thanhtoan .giaohang .hoten input{
        width: 247px;
    }
    .container1 .thanhtoan .vanchuyen{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .vanchuyen select{
        max-width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .container1 .thanhtoan .phuongthuc{
        padding: 0rem 0 2rem;
    }
    .container1 .thanhtoan .phuongthuc button{
        max-width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .container1 .thanhtoan button{
        max-width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .container1 .sanpham{
        padding: 2rem 0 0rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
    }
    .container1 .sanpham .box1{
        padding: 1rem 0 0rem;
        /* padding-left: 1rem; */
        font-size: 12px;
    }
    .container1 .sanpham .box1 .an{
        display: none;
    }
    .container1 .sanpham .box1 .hien::before{
        content: '845.000';
    }
    .container1 .sanpham .box1 img{
        width: 90px;
        height: 90px;
    }
    .container1 .sanpham .khuyenmai{
        gap: 0.5rem;
        padding: 1rem 0 2rem;
    }
    .container1 .sanpham .khuyenmai input{
        width: 200px;
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }
    .container1 .sanpham .khuyenmai button{
        width: 150px;
        height: 44px;
        font-size: 12px;
    }
    .container1 .sanpham .chitiet{
        padding-left: 0px;
    }
    .container1 .sanpham .chitiet .tieude{
        font-size: 14px;
    }
    .container1 .sanpham .chitiet .so{
        font-size: 14px;
    }
}