main {
  color: white;
  margin: 0 2%;
  text-align: center;
}

main h1 {
  font-family: "Jura";
  font-weight: bold;
  margin: 5%;
}

.profile {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  text-align: left;
}
.profile h2 {
  padding: 50px;
  background-color: #211e1f;
  height: 100%;
  font-family: "Jura";
  font-weight: bold;
}

.profile .profile-detail {
  padding: 50px;
  background-color: #292727;
  height: 100%;
  text-align: center;
  font-family: "Jura";
  font-weight: bold;
  font-size: 30px;
}

.profile .profile-detail .avatar {
    text-align: left;
}

.profile .profile-detail img {
    width: 150px;
}

.profile .profile-detail .file {
    border: none;
}

.profile .profile-detail .logout {
    float: right;
    width: 25%;
    font-size: 16px;
    height: 40px;
    margin: 0;
}

.profile .profile-detail label {
  float: left;
}

.profile .profile-detail input {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Darker Grotesque";
  font-weight: 500;
  background-color: #292727;
  border: 2px solid white;
  padding: 10px;
  color: white;
}

.name {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.name div {
  width: 100%;
}

.profile button {
  margin-top: 5%;
  width: 40%;
  height: 55px;
  color: #fab320;
  background-color: black;
  border: 2px solid #fab320;
  font-family: "Jura";
  font-size: 25px;
  font-weight: bold;
}

.profile button:hover {
  color: black;
  background-color: #fab320;
}

.profile-detail .order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-detail .order-detail {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-align: left;
}

.profile-detail .order-detail h5 {
  text-align: right;
}

.profile-detail .order-detail .image {
  position: relative;
}

.profile-detail .order-detail .image span {
  position: absolute;
  background-color: white;
  top: -10px;
  right: 0;
  width: 20%;
  height: 20%;
  font-size: 20px;
  border-radius: 50%;
  color: black;
  text-align: center;
}